/*-- scss:defaults --*/

$primary-color: #0c2344;

.reveal .quarto-title-authors {
  flex-direction: column;
  align-items: flex-start;
}

.reveal .quarto-title-authors::after {
  content: "In collaboration with: C. Bonanno, M. D'Elia, G. Gagliardi, A. Giorgieri, F. Sanfilippo,   A. Valentino.";
  display: block;
  font-size: 0.6em;
  color: #666;
  font-style: italic;
  margin-top: 0.2em;
}